.aside{
    background-color: #0c1241;
   padding: 0px;
}
li{
    list-style: none;
    font-size: 20px;
    color: white;
    text-align: left;
    display: block;
    padding: 20px;
    border-bottom: 2px solid white;
}
.aside ul li:hover{
    color: #0c1241;
    background-color: #a0fad2; 
    font-weight: bold;   
}
ul{
    padding: 0px;
}
